body {
  margin: 0;
  background-color: #f2f0d5; }

#headerImg {
  background-image: url("headerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  font-family: "Muli", sans-serif;
  color: #f2f0d5;
  text-align: center;
  font-size: 36px;
  line-height: 100vh;
  text-transform: uppercase;
  letter-spacing: 10px; }

h1 {
  font-family: "Muli", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #a3865a;
  text-align: center;
  margin: 10px;
  letter-spacing: 10px;
  font-weight: lighter; }

.menu_container {
  background-color: #cfb080; }
  .menu_container h2, .menu_container .reflexologie h3, .reflexologie .menu_container h3, .menu_container .reflexologie .altHeader, .reflexologie .menu_container .altHeader {
    text-align: center;
    font-family: "Muli", sans-serif;
    color: #f2f0d5;
    font-size: 24px;
    font-weight: lighter;
    padding: 20px; }
  .menu_container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; }
    .menu_container nav button {
      font-size: 14px;
      border: 3px solid #f2f0d5;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: #a3865a;
      background-color: #f2f0d5;
      width: 330px; }
    .menu_container nav button:hover {
      background-color: #cfb080;
      color: #f2f0d5;
      cursor: pointer; }

.reflexologie {
  background-color: #788083; }
  .reflexologie h2, .reflexologie h3, .reflexologie .altHeader {
    color: #f2f0d5;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding-top: 30px; }
  .reflexologie h3 {
    font-size: 18px;
    padding: 0;
    text-transform: none; }
  .reflexologie p {
    color: #f2f0d5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 900px;
    font-weight: lighter;
    padding-bottom: 36px; }
  .reflexologie #reflexo_big_paragraph {
    margin: 50px auto;
    text-align: justify; }
  .reflexologie .principe_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; }
    .reflexologie .principe_container img {
      width: auto;
      width: 200px;
      height: auto;
      border: 5px solid #788083; }
    .reflexologie .principe_container p {
      width: 500px;
      text-align: justify; }
  .reflexologie .principe_container, .reflexologie .pourqui_container {
    background-color: #f2f0d5; }
    .reflexologie .principe_container p, .reflexologie .pourqui_container p {
      color: #475256; }
  .reflexologie .altHeader {
    font-size: 22px;
    color: #f2f0d5; }
  .reflexologie .egypt_break, .reflexologie .pourqui_break {
    width: 100%;
    height: 300px;
    background-image: url("egypt.jpg");
    background-size: cover;
    background-position: center; }
  .reflexologie .pourqui_break {
    background-image: url("pourqui.jpg"); }
  .reflexologie .histoire_container {
    background-color: #cfb080;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; }
    .reflexologie .histoire_container p {
      width: 500px;
      margin: 50px; }
    .reflexologie .histoire_container img {
      border: 5px solid #f2f0d5; }
  .reflexologie .backfix {
    background-color: #cfb080; }
  .reflexologie .altHeader:nth-child(1) {
    color: #475256; }
  .reflexologie #pourqui {
    color: #475256; }
  .reflexologie .pourqui_text {
    width: 1080px;
    margin: 36px auto 0; }

.warning_container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .warning_container p {
    font-style: italic; }

.warning_icon {
  background-image: url("warning_icon.png");
  height: 24px;
  width: 66px;
  margin: -24px 24px 0 0;
  background-repeat: no-repeat;
  background-position: center; }

.profile_pic {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-image: url("profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: auto; }

.votre_reflexologue a {
  color: #a3865a;
  text-decoration: underline; }
.votre_reflexologue h2, .votre_reflexologue .reflexologie h3, .reflexologie .votre_reflexologue h3, .votre_reflexologue .reflexologie .altHeader, .reflexologie .votre_reflexologue .altHeader {
  font-family: "Muli", sans-serif;
  font-size: 24px;
  color: #788083;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 50px 0;
  font-weight: lighter; }
.votre_reflexologue p {
  color: #475256;
  font-family: "Open Sans", sans-serif; }
.votre_reflexologue #profile_intro_line {
  text-align: center; }
.votre_reflexologue #profile_content_lines {
  width: 1200px;
  margin: 0 auto 50px; }

.cabinet_photo {
  width: 500px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("cabinet.jpg"); }

.cabinet_container {
  height: 350px;
  background-color: #cfb080;
  display: flex;
  justify-content: center; }
  .cabinet_container p {
    margin-right: 100px;
    line-height: 28px;
    height: 300px;
    width: 500px;
    color: #f2f0d5; }

.map_container {
  background-color: #788083;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px; }
  .map_container p {
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    color: #f2f0d5;
    font-family: "Open Sans", sans-serif; }

.tarif_title {
  font-family: "Muli", sans-serif;
  font-size: 24px;
  color: #788083;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 50px 0; }

.tarif_container p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }
.tarif_container a {
  text-decoration: underline; }
.tarif_container #tarifs_intro {
  color: #788083;
  width: 1200px;
  margin: 50px auto; }
.tarif_container .seance {
  background-color: #cfb080;
  color: #f2f0d5;
  height: 250px;
  display: flex;
  justify-content: center; }
  .tarif_container .seance .seance_p_container {
    line-height: 24px;
    width: 600px; }
  .tarif_container .seance .seance_price_container {
    text-align: center;
    text-decoration: none;
    margin-left: 25px;
    line-height: 24px;
    width: 200px; }
    .tarif_container .seance .seance_price_container p {
      font-size: 24px; }
.tarif_container .seance_description {
  display: flex;
  justify-content: center;
  align-items: center; }
  .tarif_container .seance_description p {
    font-family: "Open Sans", sans-serif;
    color: #475256;
    font-size: 14px;
    width: 500px;
    margin: 50px;
    line-height: 30px; }
  .tarif_container .seance_description .seance_photo {
    margin: 50px;
    width: 400px;
    height: 300px;
    background-image: url("seance.jpg");
    background-size: cover; }
.tarif_container .seance_extra_title {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #475256;
  margin: 0 0 20px; }
.tarif_container .seance_extra_container {
  color: #475256;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 15px;
  background-color: #f6d2de;
  padding: 20px; }
  .tarif_container .seance_extra_container h2, .tarif_container .seance_extra_container .reflexologie h3, .reflexologie .tarif_container .seance_extra_container h3, .tarif_container .seance_extra_container .reflexologie .altHeader, .reflexologie .tarif_container .seance_extra_container .altHeader {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 18px; }
  .tarif_container .seance_extra_container p {
    font-size: 18px; }
  .tarif_container .seance_extra_container h3 {
    font-size: 12px;
    letter-spacing: 2px;
    font-style: italic; }
.tarif_container .diagram {
  background-image: url("schema.jpg");
  height: 600px;
  width: 600px;
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  margin: 20px auto;
  border: 2px solid #788083; }
.tarif_container .important_points {
  margin: 60px;
  font-size: 20px;
  text-align: center;
  color: #a3865a;
  font-family: "Open Sans", sans-serif; }

.contact .divider {
  background-color: #cfb080;
  height: 2px;
  width: 500px;
  margin: 50px auto; }
.contact .contact_1, .contact .contact_2 {
  font-size: 14px;
  color: #a3865a;
  font-family: "Open Sans", sans-serif;
  text-align: center; }
.contact .facebook {
  width: 80px;
  margin: 50px auto; }
  .contact .facebook .fb_icon {
    background-image: url("fb_icon.png");
    width: 80px;
    height: 80px;
    background-size: cover; }

.footer {
  background-color: #cfb080;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #f2f0d5;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer a {
    text-decoration: underline;
    color: #475256; }

/*# sourceMappingURL=style.css.map */
