$font_title: 'Muli' , sans-serif;
$font_text: 'Open Sans' , sans-serif;
$color_sand: #cfb080;
$color_clear: #f2f0d5;
$color_grey: #788083;
$color_pink: #f6d2de;
$color_fontgrey: #475256;
$color_fontsand: #a3865a;

body{
margin: 0;
background-color: $color_clear;
}

#headerImg{
  background-image: url("headerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  font-family: $font_title;
  color : $color_clear;
  text-align: center;
  font-size: 36px;
  line-height: 100vh;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h1{
  font-family: $font_title;
  font-size: 36px;
  text-transform: uppercase;
  color: $color_fontsand;
  text-align: center;
  margin: 10px;
  letter-spacing: 10px;
  font-weight: lighter;
}

.menu_container{
  background-color: $color_sand;
  h2{
    text-align: center;
    font-family: $font_title;
    color: $color_clear;
    font-size: 24px;
    font-weight: lighter;
    padding: 20px;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding : 20px;
    button{
      font-size: 14px;
      border: 3px solid $color_clear;
      font-family: $font_text;
      text-transform: uppercase;
      text-align: center;
      color: $color_fontsand;
      background-color: $color_clear;
      width: 330px;
    }
    button:hover{
      background-color: $color_sand;
      color: $color_clear;
      cursor: pointer;
    }
  }
}
.reflexologie{
  background-color: $color_grey;
  h2{
    color: $color_clear;
    font-family: $font_title;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding-top: 30px;
  }
  h3{
    @extend h2 ;
    font-size: 18px;
    padding: 0;
    text-transform: none;
  }
  p{
    color: $color_clear;
    font-family: $font_text;
    font-size: 16px;
    width: 900px;
    font-weight: lighter;
    padding-bottom: 36px;
  }
  #reflexo_big_paragraph{
    margin: 50px auto;
    text-align: justify;
  }
  .principe_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    img{
      width: auto;
      width: 200px;
      height: auto;
      border: 5px solid $color_grey;
    }
    p{
      width: 500px;
      text-align: justify;
    }
  }
  .principe_container , .pourqui_container{
    background-color: $color_clear;

    p{
      color: $color_fontgrey ;
    }
  }
  .altHeader{
    @extend h2 ;
    font-size: 22px;
    color: $color_clear ;
  }
  .egypt_break , .pourqui_break{
    width: 100%;
    height: 300px;
    background-image: url("egypt.jpg");
    background-size: cover;
    background-position: center;
  }
  .pourqui_break{
    background-image: url("pourqui.jpg");
  }
  .histoire_container{
    background-color: $color_sand;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    p{
      width: 500px;
      margin: 50px;
    }
    img{
      border: 5px solid $color_clear;
    }
  }
  .backfix{
    background-color: $color_sand;
  }
  .altHeader:nth-child(1) {
    color: $color_fontgrey;
  }
  #pourqui{
    color: $color_fontgrey ;
  }
  .pourqui_text{
    width: 1080px;
    margin: 36px auto 0 ;
  }
}

.warning_container{
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-style: italic;
  }
}

.warning_icon{
  background-image: url("warning_icon.png");
  height: 24px;
  width: 66px;
  margin : -24px 24px 0 0 ;
  background-repeat: no-repeat;
  background-position: center;
}
.profile_pic{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-image: url("profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: auto;
}
.votre_reflexologue{
  a{
    color: $color_fontsand;
    text-decoration: underline;
  }
  h2{
    font-family: $font_title;
    font-size: 24px;
    color: $color_grey;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 50px 0 ;
    font-weight: lighter;
  }
  p{
    color: $color_fontgrey ;
    font-family: $font_text ;
  }
  #profile_intro_line{
    text-align: center;
  }
  #profile_content_lines{
    width: 1200px;
    margin: 0 auto 50px;
  }
}
.cabinet_photo{
  width: 500px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("cabinet.jpg");
}
.cabinet_container{
  height: 350px;
  background-color: $color_sand;
  display: flex;
  justify-content: center;
  p{
    margin-right: 100px;
    line-height: 28px;
    height: 300px;
    width: 500px;
    color: $color_clear ;
  }
}
.map_container{
  background-color: $color_grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  p{
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    color: $color_clear;
    font-family: $font_text;
  }
}
.tarif_title{
  font-family: $font_title;
  font-size: 24px;
  color: $color_grey;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 50px 0 ;
}
.tarif_container{
  p{
    font-family: $font_text;
    font-size: 14px;
  }
  a{
    text-decoration: underline;
  }
  #tarifs_intro{
    color: $color_grey;
    width: 1200px;
    margin: 50px auto;
  }
  .seance{
    background-color: $color_sand;
    color: $color_clear;
    height: 250px;
    display: flex;
    justify-content: center;
    .seance_p_container{
      line-height: 24px;
      width: 600px;
    }
    .seance_price_container{
      text-align: center;
      p{
        font-size: 24px;
      }
      text-decoration: none;
      margin-left: 25px;
      line-height: 24px;
      width: 200px;
    }
  }
  .seance_description{
    display: flex;
    justify-content: center ;
    align-items: center;
    p{
      font-family: $font_text;
      color: $color_fontgrey;
      font-size: 14px;
      width: 500px;
      margin: 50px;
      line-height: 30px;
    }
    .seance_photo{
      margin: 50px;
      width: 400px;
      height: 300px;
      background-image: url("seance.jpg");
      background-size: cover;
    }
  }
  .seance_extra_title{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-family: $font_text;
    color: $color_fontgrey;
    margin: 0 0 20px;
  }
  .seance_extra_container{
    color: $color_fontgrey;
    font-family: $font_text;
    text-align: center;
    line-height: 15px;
    background-color: $color_pink;
    padding: 20px;
    h2{
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 18px;
    }
    p{
      font-size: 18px;
    }
    h3{
      font-size: 12px;
      letter-spacing: 2px;
      font-style: italic;
    }
  }
  .diagram{
    background-image: url("schema.jpg");
    height: 600px;
    width: 600px;
    border-radius: 100%;
    background-size: contain;
    background-position: center;
    margin: 20px auto;
    border: 2px solid $color_grey ;
  }
  .important_points{
    margin: 60px;
    font-size: 20px;
    text-align: center;
    color: $color_fontsand;
    font-family: $font_text;
  }
}
.contact{
  .divider{
    background-color: $color_sand;
    height: 2px;
    width: 500px;
    margin: 50px auto;
  }
  .contact_1 , .contact_2{
    font-size: 14px;
    color: $color_fontsand;
    font-family: $font_text;
    text-align: center;
  }
  .facebook{
    width: 80px;
    margin: 50px auto;
    .fb_icon{
      background-image: url("fb_icon.png");
      width: 80px;
      height: 80px;
      background-size: cover;
    }
  }
}
.footer{
  background-color: $color_sand;
  font-size: 18px;
  font-family: $font_text;
  color: $color_clear;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a{
    text-decoration: underline;
    color: $color_fontgrey;
  }
}
